html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  height: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #06003e;
  color: white;
  font-family: 'Telex', sans-serif !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
